/* Backgrounds */

#block_land{
	position:absolute; 
	top:50%; 
	left:0; 
	text-align:center; 
	background:white; 
	width:100%; 
	height:100%; 
	display:none;
}

input[type="email"] {
    border-radius: 5px;
    margin-right: 20px;
    height: 50px;
    padding: 5px;
}

input[type="text"] {
    border-radius: 5px;
    margin-right: 20px;
    height: 50px;
    padding: 5px;
}

body {
    height: 768px;
    width: 1024px;
}

.col-sm-11 {
    margin-left: -30px;
}

.noclicks {
    pointer-events: none;
    opacity: 0.4;
}

.bg {
    width: 1024px;
    background-size: 1024px 768px;
    background: url(../images/bg.png);
    height: 768px;
}

.bg1-img img{
	width: 1024px;
    height: 636px;
}

.verticalLine {
    margin-left: 580px;
    position: fixed;
    float: left;
    padding: 42px 0px 0px 0px;
    border-left: 1px solid #ffdd00;
    margin-top: 5px;
}

/* Typography */

@font-face {
    font-family: 'GoodYear'; /*a name to be used later*/
    src: url('../fonts/325B6D_0_0.ttf'); /*URL to font*/
}

white0{
    line-height: 100px;
    font-size: 80px;
    color: white;
    font-family: 'GoodYear';
}

white1{
    line-height: 100px;
    font-size: 100px;
    color: white;
    font-family: 'GoodYear';
}

white2{
    font-size: 70px;
    color: white;
    font-family: 'GoodYear';
}

white3{
    font-size: 60px;
    color: white;
    font-family: 'GoodYear';
}

white4{
    font-size: 34px;
    color: white;
    font-family: 'GoodYear';
}

white5{
    font-size: 20px;
    color: white;
    font-family: 'GoodYear';
}

white6 {
    font-size: 30px;
    color: white;
    font-family: 'GoodYear';
}

white6u {
    text-transform: uppercase;
    font-size: 30px;
    color: white;
    font-family: 'GoodYear';
}

white7{
    font-size: 19px;
    color: white;
    font-family: 'GoodYear';
}

white7new{
    font-size: 24px;
    color: white;
    font-family: 'GoodYear';
}

white8{
    font-size: 20px;
    color: white;
    font-family: 'GoodYear';
}

white9{
    font-size: 23px;
    color: white;
    font-family: 'GoodYear';
}

white10{
    font-size: 23px;
    color: white;
    font-family: 'GoodYear';
}

white11{
    font-size: 20px;
    color: white;
    font-family: 'GoodYear';
}

white12 {
    font-size: 25px;
    color: white;
    font-family: 'GoodYear';
}

yellow1{
    font-size: 70px;
    color: #fee001;
    font-family: 'GoodYear';
}

yellow2{
    line-height: 40px;
    font-size: 60px;
    color: #fee001;
    font-family: 'GoodYear';
}

yellow3{
    display: block;
    font-size: 70px;
    color: #fee001;
    font-family: 'GoodYear';
}

yellow4{
    font-size: 61.75px;
    color: #fee001;
    font-family: 'GoodYear';
}

yellow4new {
    font-size: 56.75px;
    color: #fee001;
    font-family: 'GoodYear';
}

yellow5{
    font-size: 45px;
    color: #fee001;
    font-family: 'GoodYear';
}

yellow6{
    font-size: 40px;
    color: #fee001;
    font-family: 'GoodYear';
}

yellow7{
    font-size: 30px;
    color: #fee001;
    font-family: 'GoodYear';
}

yellow8{
    font-size: 20px;
    color: #fee001;
    font-family: 'GoodYear';
}

yellow9{
    font-size: 19px;
    color: #fee001;
    font-family: 'GoodYear';
}

yellow10{
    font-size: 21px;
    color: #fee001;
    font-family: 'GoodYear';
}

yellow11{
    font-size: 20px;
    color: #fee001;
    font-family: 'GoodYear';
}

yellow12{
    font-size: 23px;
    color: #fee001;
    font-family: 'GoodYear';
}

yellow13{
    font-size: 12px;
    color: #fee001;
    font-family: 'GoodYear';
}

yellow14{
    text-transform: uppercase;
    font-size: 26px;
    color: #fee001;
    font-family: 'GoodYear';
}

yellow15{
    font-size: 25px;
    color: #fee001;
    font-family: 'GoodYear'
}

yellow75{
    text-transform: uppercase;
    font-size: 20px;
    color: #fee001;
    font-family: 'GoodYear';
}


/* Footer */

.footer {
	border-top: 5px solid #fee001;
    width: 100%;
    padding: 10px 22px 62px 65px;

}

.getmyrating{
	height: 19px;
    width: 195px;
    margin-left: 700px;
    margin-top: 35px;
}

/* Bootstrap custom */

.row {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px; 
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #fee001;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}


/* Section 1 */

.s1footer {
    margin-left: -20px;
    float: left;
    margin-top: 45px;
}

/* Section 2 */

.shoewing{
	padding: 130px 40px 40px 50px;;
}

.shoewingtext{
	text-align: center;
}

.startbtn{
	margin-top: 3%;
    margin-left: 7%;
    padding-right: 33%;
    padding-left: 33%;
    margin-bottom: 195px;
}

.startbtn1{
    margin-top: 3%;
    margin-left: 7%;
    padding-right: 33%;
    padding-left: 33%;
    margin-bottom: 202px;
}

.inner_container{
	padding-top: 55px;
    padding-right: 55px;
    padding-left: 55px;
}

.qshead{
	margin-top: 55px;
}

.f{
    color: #002876;
    text-align: center;
    background: #fee001;
    border-radius: 25px;
    width: 25px;
    height: 25px;
    margin-bottom: 35px;
}

.t{
    color: #fee001;
    text-align: center;
    border: 1px solid #fee001;
    border-radius: 25px;
    width: 25px;
    height: 25px;
    margin-bottom: 35px;
}

.yellow_circle.t p {
	cursor: pointer;
    font-family: GoodYear;
    font-size: 15px;
    color: #fee001;
    padding-top: 2.5px;
}

.yellow_circle.f p {
	cursor: pointer;
    font-family: GoodYear;
    font-size: 15px;
    color: #002876;
    padding-top: 2.5px;
}

.clear {
    margin-bottom: 32px;
}

.ratingbtn {
    margin-top: 95px;
    float: right;
    padding-bottom: 30px;
}

.sendreportbtn {
    margin-top: 95px;
    float: none;
    padding-bottom: 30px;
}

.startoverbtn1 {
    margin-top: 95px;
    float: right;
    padding-bottom: 30px;
}

.startoverbtn1 img{
    height: 50px;
}

.startoverbtn {
    margin-top: 95px;
    float: right;
    padding-bottom: 45px;
}

.startoverbtn img{
    height: 50px;
}

.sendreportbtn img{
    height: 50px;
}

.ratingbtn img{
    height: 50px;
}

.backbtn img{
    height: 46px;
}

.nextbtn {
    right: 30px;
    top: 700px;
    position: fixed;
}

.backbtn {
    position: fixed;
    top: 700px;
    left: 30px;
}

/* Section 4 */

.posfooterleft p{
    margin-top: 5px;
    font-size: 10px;
    color: white;
}

.posfooterright p{
    font-size: 10px;
    margin-top: 10px;
    margin-left: -25px;
    text-transform: uppercase;
    color: #fee001;
}


/* Section 5 */

.sec6head {
    text-align: center;
    margin-bottom: 40px;
}

/* Section 6 */

.calendarleft {
    margin-bottom: 20px;
    width: 250px;
    margin-right: 80px;
    margin-left: auto;
}

.calendarleft img{
    height: 90px;
}

.moneyright {
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 250px;
}

.moneyright img{
    height: 90px;
}

.calendarlefttext {
    margin-left: 40px;
    text-align: center;
}

.moneyrighttext {
    width: 250px;
    margin-left: 50px;
    text-align: center;
    margin-right: auto;
}

.sec6bottom {
    margin-right: auto;
    width: 71%;
    text-align: center;
    margin-left: auto;
}

/* Section 14 */

.sec14contentleft {
    width: 50%;
    padding-right: 30px;
    text-align: right;
    float: left;
    margin: auto;
}

.sec14contentright {
    float: left;
    overflow: hidden;
}

.sec14content {
    margin-bottom: 20px;
}

/* Section 15 */

.sec15head {
    text-align: center;
    margin-bottom: 45px;
    margin-top: 120px;
}

.sec15content {
    margin-bottom: 20px;
    text-align: center;
}

.sec15contentleft{
    text-align: right;
}

.sec15contentcenter {
    text-align: center;
}

.forminput {
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    text-align: center;
}
